extends ../layout

block content
  if boards && boards.length > 0
    h1= boards[0].username
    a(href='users/#{boards.userid}/edit') Edit
    a(href='users/#{boards.userid}/delete') Delete
    for board in boards
      div
        h3= board.boardname
        if searches
          for search in searches
            if board.boardid === search.board_id
              h5= search.key1
