extends ../layout

block content
  h1= boards[0].username
  a(href='users/#{boards.userid}/edit') Edit
  a(href='users/#{boards.userid}/delete') Delete
  for board in boards
    div
      h3= board.boardname
      for search in searches
        if board.boardid === search.board_id
          h5= search.key1
