extends ../layout

block content
  br
  br
  br
  br
  br
  .buffer-div
  if data
    form(action='/results/#{id}' method='post')
      label Add this search to existing board:&nbsp
      select(name='board')
        for item in boards
          option(name='#{item.name}')= item.name
      input(type='submit' value='Add')
    form(action='/results' method='post')
      label Add this search to a new board
      input(type='submit' value='Add')
  ul
    if results
      each result in results
        li= result.tweet.user.screen_name
          ul
            li= result.tweet.text
            li= result.score
